# Recomendador de perfis
---
Uma vez computado o índice contendos os K vizinhos mais próximos de cada um dos 85.000+ usuários e a lista de atribuição dos perfis, um recomendador de perfis será construído baseado em:

1 - A vizinhança de um usuário

2 - Os perfis que a vizinhança possui

3 - Os perfis que o usuário não possui

4 - As chamadas atribuições categóricas dos perfis ainda não atribuídos ao usuário

In [1]:
import os
import numpy as np
import pandas as pd
import pynndescent
import duckdb
import pickle
import scipy.sparse
from knn_indexer import KnnIndex

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

As variáveis de ambiente abaixo precisam ser configuradas antes da execução deste notebook. Vide o arquivo **setenv.ps1.example**

In [3]:
DATASET                = os.environ['DATASET']
USER_ROLES             = os.environ['USER_ROLES']
ORGUNIT_ROLES          = os.environ['ORGUNIT_ROLES']
FUNCTION_ROLES         = os.environ['FUNCTION_ROLES']
KNN_INDEX              = os.environ['KNN_INDEX']
HASHED_FEATURES_IDX    = os.environ['HASHED_FEATURES_IDX']
CUTOFF_DISTANCE        = 1.0

Leitura do arquivo contendos os dados do usuário e os perfis já atribuídos

In [4]:
dataset_df = pd.read_parquet(DATASET)
dataset_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91798 entries, 0 to 91797
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   chave_usuario            91798 non-null  object
 1   tipo_usuario             91798 non-null  object
 2   centro_custo             39913 non-null  object
 3   lotacao_topo             91798 non-null  object
 4   sigla_lotacao            91798 non-null  object
 5   nome_lotacao             91798 non-null  object
 6   cargo                    91798 non-null  object
 7   enfase                   91798 non-null  object
 8   funcao                   91798 non-null  object
 9   sindicato                39415 non-null  object
 10  area_rh                  91264 non-null  object
 11  imovel                   91264 non-null  object
 12  local_negocio            91261 non-null  object
 13  grupo_prestacao_servico  51118 non-null  object
 14  regime_trabalho          76638 non-null  object
 15  empresa_contrato         91160 non-null  object
 16  tipo_localizacao         51218 non-null  object
 17  status_cracha            51224 non-null  object
 18  situacao_cracha          51224 non-null  object
 19  objetos_contratos        91798 non-null  object
 20  cursos                   91798 non-null  object
 21  roles                    91798 non-null  object
dtypes: object(22)
memory usage: 15.4+ MB

In [5]:
user_roles_df = pd.read_parquet(USER_ROLES)
user_roles_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413991 entries, 0 to 413990
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   chave_usuario  413991 non-null  object
 1   role           413991 non-null  object
dtypes: object(2)
memory usage: 6.3+ MB

Leitura do arquivo contendo as atribuições dos perfis as diferentes lotações

In [6]:
orgunit_roles_df = pd.read_parquet(ORGUNIT_ROLES)
orgunit_roles_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28190 entries, 0 to 28189
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lotacao_topo   28190 non-null  object
 1   sigla_lotacao  28190 non-null  object
 2   role           28190 non-null  object
 3   atribuicoes    28190 non-null  int64
dtypes: int64(1), object(3)
memory usage: 881.1+ KB

Leitura do arquivo contendo as atriabuições do perfil para os tipos de usuário, cargos, ênfases e funções gratificadas

In [7]:
function_roles_df = pd.read_parquet(FUNCTION_ROLES)
function_roles_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14013 entries, 0 to 14012
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tipo_usuario  14013 non-null  object
 1   cargo         14013 non-null  object
 2   enfase        14013 non-null  object
 3   funcao        14013 non-null  object
 4   role          14013 non-null  object
 5   atribuicoes   14013 non-null  int64
dtypes: int64(1), object(5)
memory usage: 657.0+ KB

Leitura do índice pré-computado de distâncias entre os 85.000+ usuários

In [8]:
knn_index = KnnIndex.load(KNN_INDEX)
knn_index.get_neighbors(0)

(array([    0, 29301, 16115, 85550, 27715, 69840, 29939, 29008, 25392,
        19955, 40571, 61978,   958,  8853, 27035, 55804, 11492, 26039,
         5356, 63071, 61360,  5624, 62911, 10523, 27483,  5663, 20132,
        27484, 30088,  3673, 25557, 68230, 14074, 63010, 57121, 26533,
        26093, 14721, 62846, 28929, 26792, 35310, 70013,  1609, 34924,
        31611, 85531, 26134, 76791, 26430, 58558, 28586, 64330, 34070,
        35295,  5596, 87270,  9960, 30490, 35230, 34123, 28583,  8680,
        33236,  1021,  5862, 35024, 14868, 63679, 28390, 64022, 19596,
        34034, 68663,  1207, 62974, 18846, 34923,  1707, 25323, 35710,
        24243, 58823, 40446,  2222, 26534, 30285,  2241, 27355,  2235,
        26416, 13147, 26990, 85494, 58697, 40488, 63805, 18435, 73850,
        11969, 32633,  2229, 87377, 26193, 26927, 39901, 76662, 40579,
         2923, 70699,  3185, 16682, 18450,  2937, 32675, 26857, 90735,
        32641, 78922, 31347, 32624, 70475, 28617,  2223, 26635, 16132,
          155, 73762,  8556, 39920, 33989, 59523,  7859, 69698, 26008,
        85293, 26195, 38813, 16732, 38300, 72883, 19254,  1083, 29154,
         3134, 25338, 13645, 39352, 85500,  1279, 48439, 70751, 48632,
         7925, 32627, 28508, 36511, 14097, 26422, 48636, 60950, 25801,
         7873, 67470, 72279, 14722, 32822,  7388, 34027, 40586, 44177,
         1019, 28595,  7323, 11552, 19850, 67600, 11891, 17850,  7004,
        27538, 26660, 62484, 55149, 16939, 91672, 83821, 85270, 61863,
         8292, 16053, 85446, 16383, 75577, 29116, 91789, 55494, 10145,
        68410, 87811, 63388, 90883,  7247, 21968, 64701, 59631, 16423,
        78367,  7664,  7191, 42369, 20082, 28608, 63072, 35236, 85791,
        91604, 69803, 16424, 75363, 18230, 40516, 26805, 34735, 90850,
        39964, 76671, 62071, 18880,  5539, 11092, 10004, 61183, 29397,
        43095, 43878, 36307,  3271,  7640, 76669, 27027, 39916, 91749,
        63861, 31346, 87281, 68881, 85296,  2032, 60737]),
 array([ 0.       ,  9.8494625, 10.169329 , 12.091906 , 12.121661 ,
        12.275476 , 13.914285 , 13.970804 , 13.979214 , 13.983862 ,
        14.044023 , 14.10435  , 14.469419 , 14.5154915, 14.598303 ,
        14.896113 , 14.943519 , 14.968422 , 15.047182 , 15.07796  ,
        15.117229 , 15.139833 , 15.157316 , 15.194816 , 15.358604 ,
        15.490989 , 15.607591 , 15.632371 , 15.664402 , 15.872202 ,
        15.929386 , 15.973163 , 16.023907 , 16.085327 , 16.200129 ,
        16.282007 , 16.297909 , 16.351389 , 16.668652 , 16.89818  ,
        17.00733  , 17.108398 , 17.221188 , 17.44167  , 17.64549  ,
        17.6684   , 18.03335  , 18.03909  , 18.202145 , 18.386244 ,
        19.075531 , 19.147734 , 19.227869 , 19.371809 , 19.491138 ,
        19.638369 , 19.76654  , 19.813269 , 19.869047 , 19.881018 ,
        20.264196 , 20.330889 , 20.413258 , 20.807522 , 20.811481 ,
        21.049875 , 21.277863 , 21.58285  , 21.846647 , 22.107939 ,
        22.431646 , 22.563532 , 22.574785 , 23.868124 , 23.877634 ,
        24.372395 , 24.417242 , 24.4202   , 24.463682 , 24.526995 ,
        24.636175 , 24.788229 , 25.44478  , 25.4579   , 25.524963 ,
        25.59844  , 26.278955 , 26.380589 , 26.582512 , 26.60012  ,
        26.698446 , 27.064041 , 27.264154 , 27.679873 , 28.099964 ,
        28.641006 , 28.648693 , 28.730284 , 28.905472 , 29.020628 ,
        29.34637  , 29.785458 , 29.88015  , 29.905643 , 29.936043 ,
        30.526558 , 31.098219 , 31.355146 , 31.653786 , 31.78888  ,
        32.32217  , 32.550873 , 33.77298  , 33.938927 , 34.308784 ,
        34.368404 , 34.37003  , 34.8252   , 34.88744  , 34.982525 ,
        35.07387  , 35.676907 , 35.83426  , 36.558178 , 36.658676 ,
        36.66555  , 36.679726 , 36.900146 , 38.115364 , 38.600864 ,
        39.588066 , 40.58336  , 41.68648  , 41.717945 , 41.955326 ,
        42.20153  , 42.24357  , 42.440643 , 42.83336  , 43.040512 ,
        44.433117 , 44.575363 , 44.86581  , 45.910107 , 46.140793 ,
        46.233192 , 46.418224 , 46.433796 , 46.46831  , 46.574535 ,
        46.66507  , 46.93181  , 46.959175 , 47.18487  , 47.432735 ,
        47.868107 , 48.358017 , 48.557884 , 48.582508 , 48.66507  ,
        49.07094  , 49.493855 , 49.555683 , 49.8524   , 50.186028 ,
        50.245052 , 50.54891  , 50.959515 , 51.097088 , 51.455154 ,
        51.534023 , 51.566483 , 51.67506  , 52.30419  , 52.40937  ,
        52.561188 , 52.614033 , 52.643288 , 52.823452 , 53.110348 ,
        53.180275 , 53.328945 , 53.58426  , 53.64186  , 53.69648  ,
        53.72162  , 53.99771  , 54.263805 , 54.301483 , 54.3446   ,
        54.353104 , 54.45387  , 54.535885 , 54.535885 , 54.623104 ,
        54.688496 , 54.758106 , 54.786377 , 54.78961  , 54.831474 ,
        54.93327  , 55.015465 , 55.191486 , 55.325085 , 55.373055 ,
        55.394722 , 55.426483 , 55.49068  , 55.575085 , 55.575085 ,
        55.660885 , 55.888966 , 55.90195  , 55.962185 , 56.050327 ,
        56.094463 , 56.249397 , 56.304993 , 56.44426  , 56.450085 ,
        56.450085 , 56.5826   , 56.73339  , 56.750805 , 56.804127 ,
        57.072487 , 57.264984 , 57.31148  , 57.318214 , 57.35565  ,
        57.64977  , 57.716015 , 58.02722  , 58.204967 , 58.2093   ,
        58.28305  , 58.306973 , 58.413895 , 58.42473  , 58.42904  ,
        58.430103 , 58.75664  , 58.764397 , 58.785885 , 58.86704  ,
        58.98281  , 59.04469  , 59.214455 , 59.28937  , 59.33629  ],
       dtype=float32))

Leitura do índice contendo os dados dos usuários para uso da matriz esparsa de features por usuário

In [9]:
hashed_features_idx = pd.read_parquet(HASHED_FEATURES_IDX)
hashed_features_idx.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91798 entries, 0 to 91797
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          91798 non-null  int64
 1   chave_usuario  91798 non-null  object
 2   lotacao_topo   91798 non-null  object
 3   sigla_lotacao  91798 non-null  object
 4   tipo_usuario   91798 non-null  object
 5   cargo          91798 non-null  object
 6   enfase         91798 non-null  object
 7   funcao         91798 non-null  object
dtypes: int64(1), object(7)
memory usage: 5.6+ MB

O trecho de código abaixo mostra como realizar uma busca no índice de usuários para recuperar a posição em que um usuário específico situa-se na matriz esparsa numérica e com isso recuperar sua vizinhança bem como as distâncias calculadas de seus vizinhos.

Um DataFrame é construído possibilitando a exibição destes dados e seu uso em conjunto com a biblioteca **DuckDB**

In [10]:
search_user   = "C2Y6"
search_df     = hashed_features_idx[hashed_features_idx["chave_usuario"] == search_user].copy()

print(f"Usuário '{search_user}' encontrado na massa de perfis analisada")
search_index   = search_df.iloc[0]["index"]
indices, distances = knn_index.get_neighbors(search_index)
_neighbors_df = pd.DataFrame({"index": indices, "distance": distances})

display(search_df)
display(_neighbors_df)

Usuário 'C2Y6' encontrado na massa de perfis analisada

       index chave_usuario lotacao_topo sigla_lotacao tipo_usuario                                    cargo                                    enfase funcao
15417  15417          C2Y6           SI   SI/GIPD/GIA    EMPREGADO  PROF. PETROBRAS DE NIVEL SUPERIOR PLENO  PCR NS ANALISE DE SISTEMAS PROC NEGOCIOS    n/a

     index   distance
0    15417   0.000000
1    25099  45.382812
2     8755  46.300808
3    24878  46.550179
4    87088  48.249760
5    20326  48.285210
6    22247  48.431767
7    65182  48.586819
8    82499  48.608089
9    81881  48.812069
10   80380  49.309269
11   83560  49.604038
12   24707  49.726200
13   42018  49.962723
14   22077  50.160229
15   90621  50.190041
16   91297  50.194057
17   81823  50.226982
18   82068  50.231144
19     741  50.368233
20   90662  50.523453
21   65746  50.741890
22   17825  50.763988
23   67467  50.875416
24   88906  51.112118
25   88842  51.136463
26   80429  51.189415
27   81845  51.263153
28   84579  51.330070
29   57360  51.333683
30   88789  51.342476
31   83588  51.391365
32   89259  51.459770
33   22096  51.499096
34   20552  51.684696
35   78727  51.691219
36   22735  51.707329
37   89406  51.864941
38   64302  51.867157
39   14111  51.910816
40   67588  51.950195
41   77890  52.034130
42   44854  52.138630
43   88577  52.166588
44   84581  52.312923
45   78203  52.394001
46   83527  52.426304
47   10892  52.468311
48   80458  52.522293
49    7890  52.671509
50   18425  52.689774
51   59354  52.728626
52   90269  52.843964
53   77087  52.865490
54   81346  52.874268
55   24810  52.958317
56   15408  52.959301
57   20720  52.967686
58   81849  53.000313
59   80143  53.043896
60    3676  53.045094
61    9201  53.063457
62   24658  53.072048
63   18428  53.173645
64   44007  53.217812
65   46017  53.257721
66   65377  53.314938
67   74796  53.324238
68      34  53.357643
69   90720  53.364887
70   67567  53.367462
71   15434  53.449615
72    9277  53.455475
73   90547  53.486023
74   59352  53.488308
75   59026  53.617840
76   83174  53.696106
77   89237  53.744221
78   78595  53.746735
79   76872  53.760853
80   81328  53.851177
81   88784  53.878937
82   78877  53.885860
83   90281  53.907440
84    2197  53.925419
85   60547  53.932537
86   32978  53.988995
87   88458  54.022770
88   59098  54.039333
89   25273  54.044224
90   88993  54.094807
91   75875  54.098148
92   83051  54.143978
93   88554  54.162498
94   82975  54.164890
95    7150  54.166180
96   90741  54.193142
97   78195  54.234234
98   20662  54.290192
99   82243  54.311024
100  42101  54.341488
101  68757  54.364315
102  22180  54.366844
103  82950  54.404903
104  67566  54.425533
105  57788  54.432480
106  75745  54.449039
107  83547  54.461464
108  14801  54.516415
109  58181  54.537197
110  87067  54.574986
111  81470  54.577381
112  21250  54.610226
113  80315  54.635887
114  23876  54.644665
115  77092  54.667404
116  20540  54.707058
117  20671  54.750118
118  88616  54.753719
119   5321  54.767513
120  58054  54.772705
121  24837  54.784088
122  79862  54.834896
123  10919  54.850544
124  25660  54.864933
125  22174  54.877548
126  10604  54.879627
127     19  54.944641
128  79444  55.022583
129  76103  55.022865
130  83394  55.025078
131  88826  55.041367
132  84654  55.044048
133  67456  55.065639
134  83530  55.072865
135  79871  55.075039
136  20488  55.075237
137  10807  55.128101
138  80370  55.146782
139  89003  55.240082
140  39408  55.249485
141   7888  55.256111
142  84923  55.284622
143  88736  55.316223
144  89267  55.318642
145   9650  55.369549
146  88849  55.377365
147  79744  55.378510
148  91225  55.378609
149  21227  55.383186
150  19563  55.409885
151  22056  55.452751
152  89142  55.459286
153  80464  55.465748
154  82965  55.472656
155  19477  55.475216
156  88491  55.495480
157   6236  55.508896
158  81336  55.515881
159  82940  55.543633
160  58250  55.573925
161  88467  55.580387
162  79593  55.623684
163  84643  55.636406
164  58217  55.643753
165  81300  55.657093
166  88588  55.674057
167  80688  55.677998
168  20686  55.691891
169  88774  55.709843
170   2196  55.714058
171  22490  55.716621
172  84539  55.748993
173  88757  55.777454
174   9288  55.781963
175    470  55.800224
176  59809  55.802734
177  24656  55.850262
178  90586  55.875694
179  23536  55.883308
180  58204  55.910847
181  21384  55.936726
182  88803  55.937656
183  90774  55.962002
184  23371  55.998558
185  81539  56.017647
186  89213  56.023067
187  72487  56.056999
188  77647  56.105892
189  22452  56.149715
190  66810  56.154350
191  81020  56.159439
192  25056  56.160141
193  22175  56.163128
194  88470  56.179985
195  21693  56.187019
196  14966  56.207436
197  80860  56.212189
198  24761  56.213364
199  77094  56.234039
200  40780  56.294201
201  90613  56.303688
202  59777  56.323517
203  81306  56.348965
204  81311  56.368389
205  88482  56.376610
206  81355  56.400009
207  15315  56.404041
208  77400  56.406258
209  20668  56.415226
210  35709  56.416615
211  44831  56.421089
212  22497  56.452568
213  59184  56.454517
214  15423  56.460518
215  42591  56.465984
216  59140  56.508858
217  59220  56.509151
218  80112  56.513702
219  80559  56.523838
220  25662  56.545567
221  21228  56.564156
222  81822  56.583645
223  14314  56.605843
224   5371  56.611275
225  82861  56.613129
226  88723  56.627785
227    485  56.630810
228  19539  56.631783
229   7574  56.657433
230  58852  56.684261
231  22337  56.699738
232  22014  56.699905
233  57542  56.724838
234  67510  56.730919
235  90623  56.731628
236  24572  56.739262
237  24117  56.749424
238  59202  56.763203
239    786  56.770157
240  88699  56.782177
241  46509  56.786404
242  89093  56.831768
243  56094  56.848316
244  81879  56.856579
245  21191  56.860107
246  25102  56.867535
247  83343  56.872269
248  81679  56.876461
249  67534  56.889656

A query abaixo é utilizada para retornar a vizinhança de um usuário e, para cada vizinho, a listagem de perfis atribuídos à cada vizinho que ainda não foram atribuídos ao usuário.

As chamadas atribuições categóricas são também computadas para as roles dos vizinhos.


 - atribuido_tipo_usuario - O perfil possui atribuição ao mesmo tipo de usuário
 
 - atribuido_topo - O perfil possui atribuilção à mesma lotação topo do usuário
 
 - atribuido_lotacao - O perfil possui atribuição à mesma lotação do usuário
 
 - atribuido_cargo - O perfil possuí atribuição ao mesmo cargo do usuário
 
 - atribuido_enfase - O perfil possui atribuição à mesma ênfase do usuário
 
 - atribuido_funcao - O perfil possui atribuição à mesma função gratificada do usuário
 
 
Em todos os casos acima, as atribuições categóricas dizem respeito à perfis ainda não atribuídos ao próprio usuário. Estas informações figuram de forma proeminente no cômputo do score da recomendação conforme abaixo.

A consulta é executada 50 vezes para que qualquer regressão de performance na query seja imediatamente observada.

In [11]:
conn = duckdb.connect(":memory:")

In [12]:
sql = """
WITH cte_atribuido_tipo_usuario AS (
    SELECT DISTINCT tipo_usuario, role FROM function_roles_df
)
, cte_atribuido_topo AS (
    SELECT DISTINCT lotacao_topo, role FROM orgunit_roles_df
)
, cte_atribuido_lotacao AS (
    SELECT DISTINCT sigla_lotacao, role FROM orgunit_roles_df
)
, cte_atribuido_cargo AS (
    SELECT DISTINCT cargo, role FROM function_roles_df
)
, cte_atribuido_enfase AS (
    SELECT DISTINCT enfase, role FROM function_roles_df
)
, cte_atribuido_funcao AS (
    SELECT DISTINCT funcao, role FROM function_roles_df
)
SELECT  DISTINCT z.chave_usuario as usuario_busca
,       a.distance
,       b.chave_usuario
,       b.sigla_lotacao
,       b.cargo
,       b.enfase
,       b.funcao
,       c.role
,       CASE WHEN e.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_tipo_usuario
,       CASE WHEN f.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_topo        
,       CASE WHEN g.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_lotacao
,       CASE WHEN h.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_cargo
,       CASE WHEN i.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_enfase
,       CASE WHEN j.role IS NULL THEN 0 ELSE 1 END                   AS atribuido_funcao
FROM    search_df z
        --
        CROSS JOIN _neighbors_df a
        --
        INNER JOIN hashed_features_idx b
        ON a.index              = b.index
        --
        INNER JOIN user_roles_df c
        ON b.chave_usuario      = c.chave_usuario
        --
        LEFT OUTER JOIN user_roles_df d
        ON  z.chave_usuario     = d.chave_usuario
        AND c.role              = d.role
        --
        LEFT OUTER JOIN cte_atribuido_tipo_usuario e
        ON  z.tipo_usuario      = e.tipo_usuario 
        AND c.role              = e.role
        --
        LEFT OUTER JOIN cte_atribuido_topo f
        ON  z.lotacao_topo      = f.lotacao_topo 
        AND c.role              = f.role
        --
        LEFT OUTER JOIN cte_atribuido_lotacao g
        ON  z.sigla_lotacao     = g.sigla_lotacao 
        AND c.role              = g.role
        --
        LEFT OUTER JOIN cte_atribuido_cargo h
        ON  z.cargo             = h.cargo 
        AND c.role              = h.role
        --
        LEFT OUTER JOIN cte_atribuido_enfase i
        ON  z.enfase            = i.enfase 
        AND c.role              = i.role
        --
        LEFT OUTER JOIN cte_atribuido_funcao j
        ON  z.funcao            = j.funcao 
        AND c.role              = j.role
        --
WHERE   b.chave_usuario         <> z.chave_usuario
AND     z.chave_usuario         IS NOT NULL
AND     d.role                  IS NULL
AND     f.role                  IS NOT NULL -- atribuido_topo        
ORDER   BY a.distance
"""
for i in range(50): # to catch performance regressions
    neighbors_df = conn.execute(sql).fetchdf()
neighbors_df

  usuario_busca   distance chave_usuario          sigla_lotacao                                     cargo                                     enfase funcao                            role  atribuido_tipo_usuario  atribuido_topo  atribuido_lotacao  atribuido_cargo  atribuido_enfase  atribuido_funcao
0          C2Y6  46.300808          BCH4                SI/GIPD  PROF. PETROBRAS DE NIVEL SUPERIOR SENIOR              PCR NS ENGENHARIA DE PRODUCAO    n/a      Z:MM_PBAUT_FISCAL_CONTRATO                       1               1                  0                1                 1                 1
1          C2Y6  46.550179          CYDC            SI/GIPD/GIA  PROF. PETROBRAS DE NIVEL SUPERIOR MASTER  PCR NS ANALISE DE SISTEMAS INFRAESTRUTURA    n/a        Z:BC_PE_BASIS_SEG_PERFIS                       0               1                  1                0                 0                 1
2          C2Y6  49.309269          U3ZI    AUDITORIA/ANSEF/ADP   PROF. PETROBRAS DE NIVEL SUPERIOR PLENO              PCR NS ENGENHARIA DE PRODUCAO    n/a  Z:MM_PB001_CONSULTANTE_INF_MES                       1               1                  0                1                 1                 1
3          C2Y6  49.962723          EDYQ            SI/GIPD/GIA  PROF. PETROBRAS DE NIVEL SUPERIOR SENIOR   PCR NS ANALISE DE SISTEMAS PROC NEGOCIOS    n/a        Z:BC_PE_BASIS_SEG_PERFIS                       0               1                  1                0                 0                 1
4          C2Y6  50.226982          UP06          TIC/CORP/FRIE  PROF. PETROBRAS DE NIVEL SUPERIOR SENIOR   PCR NS ANALISE DE SISTEMAS PROC NEGOCIOS    n/a      Z:MM_PBAUT_FISCAL_CONTRATO                       1               1                  0                1                 1                 1
5          C2Y6  53.357643          A097                SI/GIPD  PROF. PETROBRAS DE NIVEL SUPERIOR MASTER   PCR NS ANALISE DE SISTEMAS PROC NEGOCIOS    n/a      Z:MM_PBAUT_FISCAL_CONTRATO                       1               1                  0                1                 1                 1
6          C2Y6  54.022770          XZ53  TIC/CORP/FRIE/PN-CTRI  PROF. PETROBRAS DE NIVEL SUPERIOR SENIOR                  PCR NS CIENCIAS CONTABEIS    n/a      Z:MM_PBAUT_FISCAL_CONTRATO                       1               1                  0                1                 1                 1
7          C2Y6  54.635887          U3X3   AUDITORIA/ANSEF/ADOW   PROF. PETROBRAS DE NIVEL SUPERIOR PLENO                  PCR NS CIENCIAS CONTABEIS    n/a  Z:MM_PB001_CONSULTANTE_INF_MES                       1               1                  0                1                 1                 1
8          C2Y6  56.160141          CYM3                 SI/GRC  PROF. PETROBRAS DE NIVEL SUPERIOR MASTER   PCR NS ANALISE DE SISTEMAS PROC NEGOCIOS    n/a      Z:MM_PBAUT_FISCAL_CONTRATO                       1               1                  0                1                 1                 1
9          C2Y6  56.631783          CJE2   AUDITORIA/ANSEF/ADOW  PROF. PETROBRAS DE NIVEL SUPERIOR SENIOR                  PCR NS CIENCIAS CONTABEIS    n/a  Z:MM_PB001_CONSULTANTE_INF_MES                       1               1                  0                1                 1                 1

A query abaixo não é utilizada pelo recomendador mas ilustra as distâncias e quantitativos de usuários e perfis por gerências

In [13]:
sql = f"""
    SELECT  a.sigla_lotacao
    ,       MIN(distance)                   AS min_distance
    ,       AVG(distance)                   AS avg_distance
    ,       MAX(distance)                   AS max_distance
    ,       COUNT(DISTINCT a.chave_usuario) AS qtd_usuarios
    ,       COUNT(DISTINCT a.role)          AS qtd_roles
    FROM    neighbors_df a
    GROUP   BY a.sigla_lotacao
    --
    UNION
    --
    SELECT  '<todas lotações>'              AS sigla_lotacao
    ,       MIN(distance)                   AS min_distance
    ,       AVG(distance)                   AS avg_distance
    ,       MAX(distance)                   AS max_distance
    ,       COUNT(DISTINCT a.chave_usuario) AS qtd_usuarios
    ,       COUNT(DISTINCT a.role) AS qtd_roles
    FROM    neighbors_df a
    --
    ORDER   BY qtd_roles DESC
"""
for i in range(50): # to catch performance regressions
    lotacoes_vizinhas_df = conn.execute(sql).fetchdf()
lotacoes_vizinhas_df

           sigla_lotacao  min_distance  avg_distance  max_distance  qtd_usuarios  qtd_roles
0       <todas lotações>     46.300808     51.715818     56.631783            10          3
1                SI/GIPD     46.300808     49.829226     53.357643             2          1
2            SI/GIPD/GIA     46.550179     48.256451     49.962723             2          1
3    AUDITORIA/ANSEF/ADP     49.309269     49.309269     49.309269             1          1
4          TIC/CORP/FRIE     50.226982     50.226982     50.226982             1          1
5  TIC/CORP/FRIE/PN-CTRI     54.022770     54.022770     54.022770             1          1
6   AUDITORIA/ANSEF/ADOW     54.635887     55.633835     56.631783             2          1
7                 SI/GRC     56.160141     56.160141     56.160141             1          1

A query abaixo retorna os perfis recomendados com seus respectivos scores calculados.

**TODO: Inserir notação matemática da fórmula do score aqui como um imagem**

Query executada 50 vezes para capturar possíveis regressões de performance

In [14]:
sql = """
WITH cte_roles AS (
    SELECT  a.role
    ,       MAX(atribuido_tipo_usuario)     AS atribuido_tipo_usuario
    ,       MAX(atribuido_topo)             AS atribuido_topo
    ,       MAX(atribuido_lotacao)          AS atribuido_lotacao
    ,       MAX(atribuido_cargo)            AS atribuido_cargo
    ,       MAX(atribuido_enfase)           AS atribuido_enfase
    ,       MAX(atribuido_funcao)           AS atribuido_funcao
    ,       MAX(atribuido_tipo_usuario)
    +       MAX(atribuido_topo)
    +       MAX(atribuido_lotacao)
    +       MAX(atribuido_cargo)
    +       MAX(atribuido_enfase)
    +       MAX(atribuido_funcao)           AS atribuicoes_categoricas
    ,       MIN(distance)                   AS min_distance
    ,       AVG(distance)                   AS avg_distance
    ,       MAX(distance)                   AS max_distance    
    ,       (1.0 
            -   (
                    (
                        MIN(distance) / MAX(distance) 
                    +   AVG(distance) / MAX(distance)
                    ) 
                *   0.5 
                )
            )                               AS distance_factor
    ,       COUNT()                         AS qtd_atribuicoes
    FROM    neighbors_df a
    WHERE   a.role <> 'Z:BC_USO_GERAL'
    GROUP   BY a.role
)
, cte_role_scores AS (
    SELECT  a.role
    ,      ( 
               a.atribuicoes_categoricas 
           *   a.qtd_atribuicoes 
           *   a.distance_factor 
           )
           /    
           ( 
               (SELECT MAX(atribuicoes_categoricas) FROM cte_roles) 
           *   (SELECT MAX(qtd_atribuicoes)         FROM cte_roles)
           *   (SELECT MAX(distance_factor)         FROM cte_roles)
           ) AS score   
    FROM   cte_roles a
)
SELECT  a.role
,       a.atribuicoes_categoricas
,       a.min_distance
,       a.avg_distance
,       a.max_distance
,       a.distance_factor
,       a.qtd_atribuicoes
,       b.score
,       a.atribuido_tipo_usuario
,       a.atribuido_topo
,       a.atribuido_lotacao
,       a.atribuido_cargo
,       a.atribuido_enfase
,       a.atribuido_funcao
FROM    cte_roles a
        --
        INNER JOIN cte_role_scores b
        ON  a.role                      = b.role
        --
WHERE   b.score                         > 0.0
ORDER   BY b.score DESC
"""

for i in range(50): # to catch performance regressions
    recomendations_df = conn.execute(sql).fetchdf()
recomendations_df

                             role  atribuicoes_categoricas  min_distance  avg_distance  max_distance  distance_factor  qtd_atribuicoes     score  atribuido_tipo_usuario  atribuido_topo  atribuido_lotacao  atribuido_cargo  atribuido_enfase  atribuido_funcao
0      Z:MM_PBAUT_FISCAL_CONTRATO                        5     46.300808     52.013669     56.160141         0.124695                5  1.000000                       1               1                  0                1                 1                 1
1  Z:MM_PB001_CONSULTANTE_INF_MES                        5     49.309269     53.525646     56.631783         0.092074                3  0.443036                       1               1                  0                1                 1                 1
2        Z:BC_PE_BASIS_SEG_PERFIS                        3     46.550179     48.256451     49.962723         0.051226                2  0.098595                       0               1                  1                0                 0                 1